/* background-color: #191919;
font-family: "Agency FB", arial;
color: #00ff97; */

body{
    margin: 0;
    font-family:"Agency FB", arial ;
    color: #00ff97;
    background-color: #191919;
    font-size: 2.5rem;
}
.flexContainer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.flexItems{
    padding: 1.1rem;
}
.Time{
    font-size: 7rem;
    font-weight: bold;
}
button{
    background-color: #191919;
    font-size: 2rem;
    font-family:"Agency FB", arial ;
    border: none;
    margin: 1.5rem;
}

button:hover{
    color: #00ff97;
}